* {
 padding: 0;
 margin: 0;
}
header {
    display:flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
    background-color: rgb(61, 43, 31);
    line-height:1em;
}
a{ 
    text-decoration: none;
    
}
h1 {
    margin-right:auto;
}
.item {
    list-style: none;
    display:inline-block;
    padding: 0 1.5em;
    font-family: 'Josefin Sans', cursive;
}
.item a {
    color: rgb(34, 240, 106); 
}
.item a:hover{
    color: cyan;
}
#logo {
    width:25%;
    line-height:15%;
}
#svg {
    margin-top: -1.2em;
    padding-bottom: 0.5em;
}
#svg:hover {
    transform: scale(1.05);
    cursor: pointer;
}
#intro {
    background-image:url(cookies.jpeg);
    background-size: cover;
    height:50vh;
    background-repeat: no-repeat;
}